@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 31 35% 87%;
    --background-dark: 31 35% 45%;
    --foreground: 31 15% 25%;

    --card: 0 0% 100%;
    --card-foreground: 31 15% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 31 15% 25%;

    --primary: 31 50% 65%;
    --primary-foreground: 31 15% 15%;

    --secondary: 31 25% 92%;
    --secondary-foreground: 31 15% 25%;

    --muted: 31 20% 80%;
    --muted-foreground: 31 10% 50%;

    --accent: 31 60% 70%;
    --accent-foreground: 31 15% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 31 20% 75%;
    --input: 31 20% 95%;
    --ring: 31 50% 65%;

    --radius: 1rem;

    --navy: 210 29% 24%;
    --navy-foreground: 0 0% 98%;
    
    --gold: 31 50% 65%;
    --gold-hover: 31 55% 60%;

    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .dark {
    --background: 31 35% 87%;
    --background-dark: 31 35% 45%;
    --foreground: 31 15% 25%;

    --card: 0 0% 100%;
    --card-foreground: 31 15% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 31 15% 25%;

    --primary: 31 50% 65%;
    --primary-foreground: 31 15% 15%;

    --secondary: 31 25% 92%;
    --secondary-foreground: 31 15% 25%;

    --muted: 31 20% 80%;
    --muted-foreground: 31 10% 50%;

    --accent: 31 60% 70%;
    --accent-foreground: 31 15% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 31 20% 75%;
    --input: 31 20% 95%;
    --ring: 31 50% 65%;

    --navy: 210 29% 24%;
    --navy-foreground: 0 0% 98%;
    
    --gold: 31 50% 65%;
    --gold-hover: 31 55% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes float-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
